body{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
    );
    text-align: center;
    font-size: calc(6px + 2vmin);
    color: white;
}

.App-tittle{
  margin-top: 55px;
  margin-bottom: 50px;
  font-size: 46px;
  color: #d0def4;
  font-family: 'Orbitron';
}